@font-face {
  font-family: 'Digital7';
  src: url('fonts/digital-7.ttf') format('truetype'),
       url('fonts/digital-7\ \(italic\).ttf') format('truetype'),
       url('fonts/digital-7\ \(mono\ italic\).ttf') format('truetype'),
       url('fonts/digital-7\ \(mono\).ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
    font-family: 'Digital7', sans-serif;
    font-size: 50px;
}

.container{
    position: fixed;
    left: 25%;
    text-align: center;
}

.bmoImg{
    height: 800px;
    width: 800px;
}

button{
    font-family: 'Digital7', sans-serif;
    padding: 13px;
    font-weight: 900;
    color:  rgb(2, 46, 39);
    font-size: 20px;
    border-radius: 8px;
    border-top: 6px solid  rgb(2, 46, 39);
    border-right: 10px solid rgb(2, 46, 39);
    border-bottom: 4px solid rgb(2, 46, 39);
    border-left: 2px solid rgb(2, 46, 39);
    height: 60px;
    width: 53px;
}

.dg{
    background-color: rgb(243, 214, 1);
}

.op{
    background-color: rgb(74, 184, 49);
    font-size: 30px;
}

.ops{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#clear{
    color: white;
    background-color: rgb(254, 62, 62);
}

#delete{
    background-color: rgb(73, 211, 246);
}

.btns{
    position: absolute;
    top: 64%;
    left: 51%;
    transform: translate(-50%, -50%);
    background-color: rgb(2, 169, 161);
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: 22px;
    padding-inline: 40px;
    align-items: center;
    height: 280px;
    width: 370px;
}

#result{
    position: absolute;
    top: 38%;
    left: 32%;
    text-align: center;
    border: 5px solid black;
    border-radius: 9px;
    width: 300px;
    height: 50px;
    background-color: rgba(0, 105, 87, 0.389);
}

#equal{
    background-color: rgb(63, 38, 131);
    color: white;
    height: 80px;
    width: 80px;
    font-size: 50px;
    border-radius: 50%;
}

.digits{
    display: flex;
    flex-direction: column;
    gap: 5px;
}